<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/app-retro']">JBoard</a>
      </div>

      <ul class="nav navbar-nav pull-right myNavFont">
        <li><a  [routerLink]="['/app-member']">Member</a></li>
        <li><a  [routerLink]="['/app-retro']">Retro</a></li>
        <li><a  [routerLink]="['/app-ltcalendar']">Leaves-Trainings</a></li>
        <li><a  [routerLink]="['/app-jarlocationdetails']">Deployment Status</a></li>
      </ul>
    </div>
  </nav>