<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-9">
                <h5 class="first">FT-1 [Gaurav]: {{ft1Value}}</h5>
                <p-slider [(ngModel)]="ft1Value" [min]="0" [max]="7" [style]="{'width':'175px','height': '20px'}" [disabled]="isFT1Disabled"></p-slider>
            </div>
            <h3>
                <button class="btn btn-danger" (click)="submit('FT1')" [disabled]="isFT1Disabled">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
            </h3>
        </div>

        <div class="col-md-1 col-md-offset-2">
            <button class="btn btn-primary pull-right" (click)="thisDay()">
                <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i> Today <br>
                {{todayDate}}
            </button>
        </div>

        <div class="col-md-2">
            <div class="col-md-9">
                <select id="months" name="months" class="form-control" [(ngModel)]="monthSelected">
                    <option *ngFor="let month of monthsDropdown">{{month}}</option>
                </select>
            </div>
            <button class="btn btn-primary pull-right" (click)="monthSelection()" [disabled]="monthSelected === null || monthSelected === undefined">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>

        <div class="col-md-3 col-md-offset-1">
                <div class="col-md-9">
                    <h5 class="first">FT-2 [James]: {{ft2Value}}</h5>
                    <p-slider [(ngModel)]="ft2Value" [min]="0" [max]="7" [style]="{'width':'175px','height': '20px'}" [disabled]="isFT2Disabled"></p-slider>
                </div>
                <h3>
                    <button class="btn btn-danger" (click)="submit('FT2')" [disabled]="isFT2Disabled">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </h3>
        </div>
    </div>

    <p-chart type="bar" [data]="data"></p-chart>
</div>`