<h1>History</h1>

<div *ngFor="let retroHist of retroHistories" class="mystrip">
    <div class="col-md-1 input-group">
        <span class="input-group-addon myAddon">Sprint</span>
        <input id="text" type="text" class="form-control mySprint" name="sprintNo" disabled placeholder="{{retroHist.sprintNo}}">
    </div>
    <br>
    <div class="row">

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-success">Start</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment" disabled>{{retroHist.startComment}}
                </textarea>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-danger">Stop</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment" disabled>{{retroHist.stopComment}}</textarea>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-info">Continue</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment" disabled>{{retroHist.continueComment}}</textarea>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-success">More</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment" disabled>{{retroHist.continueComment}}</textarea>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-danger">Less</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment" disabled>{{retroHist.lessComment}}</textarea>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-primary">Action Items</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment" disabled>{{retroHist.actionItemsComment}}</textarea>
            </div>
        </div>
    </div>
    <br/>
</div>