<h1>History</h1>

    <div class="col-md-1 input-group">
        <span class="input-group-addon myAddon"><i class="glyphicon glyphicon-dashboard"></i></span>
        <input id="text" type="text" class="form-control mySprint" name="email" placeholder="Sprint Number">
    </div>
    <br>
    <div class="row">

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-success">Start</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment"></textarea>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-danger">Stop</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment"></textarea>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-info">Continue</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment"></textarea>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-success">More</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment"></textarea>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-danger">Less</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment"></textarea>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-lg btn-pill btn-primary">Action Items</button>
            <div class="form-group">
                <textarea class="form-control mycomment" rows="8" id="comment"></textarea>
            </div>
        </div>
    </div>