@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    color: #cfd2da;
    background-color: #252830;
    padding-top: 40px;
}

.navbar-default {
    background-color: #252830;
    border-color: #252830;
    border-top-color: rgb(37, 40, 48);
    border-right-color: rgb(37, 40, 48);
    border-bottom-color: rgb(37, 40, 48);
    border-left-color: rgb(37, 40, 48);
}

.navbar-default .navbar-brand {
    color: #00c2ff;
}

.mycomment {
    color: #fff;
    background-color: #252830;
}

.mySprint {
    color: #fff;
    background-color: #252830;
}

.myAddon {
    background-color: #cfd2da
}

.myRow {
    background-color:#333742;
}

textarea {
resize: vertical;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #333742;
    opacity: 1;
}

.mystrip:nth-child(even){background-color: #333742}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #00b6ff;
    background-color: transparent;
}

.myTh {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: large;
    color: #FFFFFF;
}

.myTr1{
    background-color: #2a7890;
    font-weight: 500;
}

.myTr2{
    background-color: #424650;
    font-weight: 500;
}

.fc button, .fc table, body .fc {
    font-size: x-large;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: right;
    font-size: x-large;
}

.fc td, .fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    height: 23px;
}

.ui-widget-header {
    border: 1px solid #d9d9d9;
    background: #f6f7f9;
    color: #1b1d1f;
    font-weight: 600;
    font-size: small;
}

.fc-day-grid-event .fc-content {
    white-space: nowrap;
    overflow: hidden;
    height: 16px;
}

.ui-widget .fc-event {
    color: #fff;
    font-weight: 400;
    font-size: small;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: larger;
}

/* .ui-widget-header {
    border: 1px solid #d9d9d9;
    background: #f6f7f9;
    color: #1b1d1f;
    font-weight: 600;
    font-size: small;
    width: 204px;
} */

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    width: 200px;
}

.ui-widget-content {
    border: 1px solid #D5D5D5;
    background: #252830;
    color: #ffffff;
  }

  .ui-state-highlight {
    border-color: #156090;
    background: #186ba0;
    color: #FFFFFF;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 1em 1.5em;
    width: 300px;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
    background-color: #2399e5;
    padding: 8px;
}

.ui-datepicker.ui-widget {
    padding: 0;
    width: 353px;
    font-size: medium;
}

.ui-datepicker.ui-widget .ui-datepicker-header {
    border-radius: 0px;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    width: 350px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: small;
}

.fc .fc-button-group>* {
    float: left;
    margin: 0 0 0 -1px;
    font-size: medium;
}
.fc-sat, .fc-sun {
    background-color: #343742;
}

.holiday {
    background: #6b1818;
    font-size: small;
}

.myNavFont {
    font-size: large;
}

.myButton{

        width: -webkit-fill-available;
        height: 35px;
    
}

.myDialog .ui-dialog .ui-dialog-content {
    width: 600px;
    height: 400px;
    font-size: larger;
}

.myDialog .ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 1em 1.5em;
    width: 600px;
}
